@import "~reset-css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  canvas {
    width: 512px;
    height: 512px;
    background: #f3f3f3;
    // box-shadow: 1px 1px 30px #cecece;
  }
  img{
    display: none;
  }
}
