@import "~reset-css";
@import "./scss/font.scss";
@import "./scss/variable.scss";
body {
  background-color: $background-primary;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Aeonik", sans-serif;
  overflow-x: hidden;
  &.on-animation {
    overflow: hidden;
  }
  * {
    &::selection {
      background-color: $color-secondary;
    }
  }
  main {
    padding: 80px 0;
    color: $color-primary;
    header {
      display: flex;
      justify-content: flex-end;
      ul {
        display: flex;
        li {
          a {
            text-transform: uppercase;
            @include text-style-body-regular-text-2();
            color: $color-primary;
            text-decoration: none;
          }
          &:not(:first-child) {
            padding-left: 24px;
          }
        }
      }
      .switcher {
        display: flex;
        svg {
          padding: 4px 0;
          margin-left: 16px;
        }
        ul {
          li {
          &.active {
            a {
              color: $color-secondary;
            }
          }
        }
        }
      }
      nav {
        flex-grow: 1;
        ul {
          justify-content: center;
          li {
            position: relative;
            &.active {
              &:after {
                content: "";
                height: 1px;
                width: 100%;
                background-color: $color-secondary;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }
        }
      }
    }
    section {
      &.presentation {
        padding-top: 304px;
        h1 {
          color: $color-primary;
          font-size: 120px;
          @include text-style-title-h-1();
          text-align: center;
          letter-spacing: 0.08em;
          text-transform: lowercase;
          span {
            color: transparent;
            -webkit-text-stroke: 1px $color-primary;
          }
        }
        ul {
          display: flex;
          justify-content: center;
          padding-top: 64px;
          li {
            @include text-style-body-regular-text-2();
            color: $color-secondary;
            text-align: center;
            letter-spacing: 2.24em;
            text-transform: uppercase;
            &:not(:first-child) {
              padding-left: 64px;
              margin-left: 64px;
              position: relative;
              &:before {
                content: "|";
                position: absolute;
                top: 0;
                left: 0;
                color: $color-primary;
              }
            }
          }
        }
        svg {
          margin-top: 132px;
          letter-spacing: 8px;
          font-family: "Aeonik", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: $color-primary;
          text-transform: lowercase;
          transform: scale(0.9);
        }
      }
      &.description {
        padding-top: 160px;
        p {
          @include text-style-body-regular-text-3();
          display: block;
          width: 640px;
          margin: 0 auto;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.24em;
        }
        > * {
          &:not(:first-child) {
            padding-top: 128px;
          }
        }
      }
    }
  }
  aside {
    z-index: -1;
    width: 100%;
    font-family: "Kate Disp", sans-serif;
    font-size: 480px;
    line-height: 500px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: transparent;
    -webkit-text-stroke: 1px $color-primary;
    position: fixed;
    top: -328px;
    left: 0;
    word-break: break-all;
    opacity: 0.1;
  }
  .container {
    width: 1312px;
    margin: 0 auto;
  }
  .hide-on-load {
    opacity: 0;
  }
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
    &#test {
      z-index: 1000;
      background-color: #fff;
    }
    // box-shadow: 1px 1px 30px #cecece;
  }
}
