@font-face {
  font-family: 'Aeonik';
  src: url('/assets/font/subset-Aeonik-Light.woff2') format('woff2'),
  url('/assets/font/subset-Aeonik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kate Med';
  src: url('/assets/font/subset-Kate-Medium.woff2') format('woff2'),
  url('/assets/font/subset-Kate-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kate Disp';
  src: url('/assets/font/subset-Kate-Display.woff2') format('woff2'),
  url('/assets/font/subset-Kate-Display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kate Black';
  src: url('/assets/font/subset-Kate-Black.woff2') format('woff2'),
  url('/assets/font/subset-Kate-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


