$color-primary: rgba(207, 214, 244, 1);
$color-invert: rgba(20, 24, 38, 1);
$color-secondary: rgba(227, 208, 154, 1);
$background-primary: rgba(20, 24, 38, 1);
$background-invert: rgba(207, 214, 244, 1);
@mixin text-style-body-regular-text-2 {
  font-size: 14px;
  font-family: "Aeonik", sans-serif;
  font-weight: lighter;
  font-style: normal;
  line-height: 24px;
}
@mixin text-style-body-regular-text-3 {
  font-size: 14px;
  font-family: "Aeonik", sans-serif;
  font-weight: lighter;
  font-style: normal;
  line-height: 48px;
}
@mixin text-style-body-regular-text-1 {
  font-size: 14px;
  font-family: "Aeonik", sans-serif;
  font-weight: lighter;
  font-style: normal;
  line-height: 24px;
}
@mixin text-style-title-h-1 {
  font-size: 72px;
  font-family: "Kate Black", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 56px;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
